	<div  class="jumbotron jumbotron-fluid b1" >
		<div *ngIf="load==true">
			<h5>Invalid Credentials!!</h5>
		</div>
		<h1>Login</h1><br>
	  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
		  <div class="form-group ">
			  <label> 
			  <input type="text" formControlName="username" placeholder="UserName"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /> 
			  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
				  <div *ngIf="f.username.errors.required">Name is required</div>
			  </div> </label>
		  </div>
		  <div class="form-group">
			  <label>
			  <input type="password" formControlName="pwd" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" /></label>
			  <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
				  <div *ngIf="f.pwd.errors.required">Password is required</div>
			  </div>
			
      </div>
      <div class="form-group">
        <label>
        <select  placeholder="User" class="form-control" formControlName="user" [ngClass]="{ 'is-invalid': submitted && f.user.errors }" >
			          <option value="Admin">Admin</option>
            <option value="Seller">Seller</option>
            <option value="Buyer">Buyer</option>
		</select></label>
		<div *ngIf="submitted && f.user.errors" class="invalid-feedback">
			<div *ngIf="f.user.errors.required">User is required</div>
		</div>
    </div>
    
	  <div class="text-center">
		<button class="btn btn-primary mr-1" (click)="Login()">Login</button>
	  </div>
	  <br>	
		<div class="d-flex justify-content-center links">
			Don't have an account?<a [routerLink]="['/Home/Register-Seller']">Register</a>
		</div>
		<!-- <div class="d-flex justify-content-center">
			<a href="#">Forgot your password?</a>
		</div> -->
	  </form>
	</div>



