.b1{
    display:inline-block;
    width: 350px;
    height: 450px;
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
    background-size: 400px 480px;
    margin-left:590px;    
    margin-top:150px;
    position: relative;
     } 
     .invalid-feedback{
        color:red;
    }
    h1
    {
        color:white;
        margin-left: 60px;  
        margin-top: 0px;
    } 
 .al{
    margin-left: 40px;
} 
h5{
    color:red;
    margin-left: 40px;
    margin-top: -25px;
}

label{
    font-weight: bold;
}
.links{
    color: white;
    margin-left: 4px;
    }
    
a{
    margin-left: 4px;
    color:rgb(21, 155, 218);
    } 
@media screen and (max-width: 700px) {  
        .login{ 
            display: block; 
            float: none; 
        } 
        
    } 
    @media screen and (max-width: 400px) {
         .login{ 
            display: block; 
            float: none; 
        } 
        
    } 