		<div  class="jumbotron jumbotron-fluid b1" >
		<h2>Buyer</h2><br>
	  <form [formGroup]="buyerForm">
		  <div class="form-group ">
			  <label> 
			  <input type="text" formControlName="username" placeholder="UserName"class="form-control" /> 
			   </label>
		  </div>
		  <div class="form-group">
			  <label>
			  <input type="text" formControlName="emailid" class="form-control" placeholder="Email Id" />
				  </label>
		  </div>
		  <div class="form-group">
			  <label>
			  <input type="text" formControlName="mobile" placeholder="Mobile Number" class="form-control" />
			
			</label>
	</div>

	  <div class="text-center">
		<button class="btn btn-primary mr-1" (click)="edit()" [hidden]=n >Edit</button>
		<button class="btn btn-primary mr-1" (click)="UpdateBuyer()" [hidden]=n1>save</button>
	  </div>
	  </form>
	</div>

