<div class="b">
<div class="search-container">
    <form [formGroup]="buyerForm" (ngSubmit)="SearchItem()">
      <div class="form-group">
          <input type="text" placeholder="Search.." formControlName="itemName" />
        <button class="btn btn-sm btn-primary"><i class="fa fa-search"></i>Search</button>
    </div>
    </form>
  </div>
</div>

<div  [ngSwitch]="load">
    <div *ngSwitchCase=1>    
  <div class="p">
    <div *ngFor="let item of items">  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" class="img" src="..\assets\Images\{{item.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.itemName}}</h5>
          <h4>Price:{{item.price}}</h4>
          <p class="card-text">Description:{{item.itemDesc}}</p>
          <button class="btn btn-sm btn-primary" (click)="BuyProduct(item)">Buy</button>&nbsp;
          <button class="btn btn-sm btn-primary" (click)="AddToCart(item)">Add to cart</button>
        </div>
      </div>
      </div>
    </div>
</div>
    <div *ngSwitchCase="2">
      <div class="p1">
        <div>
               <h2>Item Not Found</h2>
        </div>
      </div>
    </div> 




    <!-- <div *ngIf="load==true else show">
    <div class="p">
    <div *ngFor="let item of items">  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..\assets\Images\{{item.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.itemName}}</h5>
          <h4>Price:{{item.price}}</h4>
          <p class="card-text">Description:{{item.itemDesc}}</p>
          <button class="btn btn-sm btn-primary" (click)="BuyProduct(item)">Buy</button>&nbsp;
          <button class="btn btn-sm btn-primary" (click)="AddToCart(item)">Add to cart</button>
        </div>
       </div>
      </div>
    </div>
  </div>
  <ng-template #show>
    <div class="card p">
    <div>
           <h1>Item Not Found</h1>
    </div>
  </div>
  </ng-template> -->
