.p{
    margin-left:270px;   
}

.el{
    margin-left:270px;   
    margin-top:300px;
}
     .card{
        float:left;
        margin-left:5px; 
        margin-top:220px;   
        background-color: rgba(0,0,0,0.5);
        width:20%;
        height:20%;
    }
     .b{
        margin-left:600px;    
        margin-top:180px;
        position:fixed;
     }
     p,h5,h4,h1{
         text-align: center;
         color:white;
     }
     .btn{
        margin-left: auto;
        height:40px;
    width:100px;
    }
    .nf{
        margin-left: 500px;
    }
     
     input[type=text] {
        width: 250px;
        padding: 12px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height:45px;
      }
     
      .search-container
      {
          margin-top: -20px;
      }
