.l{
    height:70px;
    }
    .nav-item{
    font-size:20px;
    padding-left:10px;
    }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:rgba(53, 51, 51, 0.63);
        min-width: 100px;
        z-index: 1;
      }
      .color{
          color:white;
      }
      .dropdown:hover .dropdown-content {display: block;}
      .image{
        background-image:url("E:\Final-Project-MrudhulaSri-845029\Emart-UI\src\assets\Images\thomas.jpg"); 
        height: 770px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -40px;
      }
      .navbar-right{
        margin-left:900px;
              }
      .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top:70px;
        left: 0;
        background-color: rgba(12, 11, 11, 0.5);
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 8px 6px 20px;
        text-decoration: none;
        font-size: 20px;
        color:white;
        display: block;
      }
            .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
