<div class="image">
<nav class="navbar navbar-expand-lg l fixed-top topnav navbar-dark bg-dark" id="M">
  <a class="navbar-brand">
    <!-- <img src="" alt="logo" style="width:40px;"> -->
    <b style="font-size:40px;">Emart</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/Home']" >Home</a>
      </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['Login']" >Login</a>
    </li>
    <li class="dropdown nav-item active">
            <a class=" nav-link">Register</a>
            <div class="dropdown-content">
              <a  class="color" [routerLink]="['Register-Seller']">Seller</a><br>
              <a  class="color" [routerLink]="['Register-Buyer']">Buyer</a>
            </div>
    </li>
  </ul> 
</div>
</nav>
<router-outlet></router-outlet>
</div>

