.l{
    height:70px;
    }
    .nav-item{
    font-size:20px;
    padding-left:10px;
    }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color:rgba(53, 51, 51, 0.63);
        min-width: 100px;
        z-index: 1;
      }
      .color{
          color:white;
      }
      .dropdown:hover .dropdown-content {display: block;}
      .image{
        background-image:url("src\assets\Images\thomas.jpg"); 
        height: 770px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -40px;
        width:100%;
        background-attachment: fixed;
      }
      @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
       }
      }
      
      @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
