	<div  class="jumbotron jumbotron-fluid b1" >
		<h3>Registration</h3><br>
	  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
		  <div class="form-group ">
			  <label> 
			  <input type="text" formControlName="username" placeholder="UserName" (input)="Exist()" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /> 
			  <div *ngIf="load==true" class="p">
				  Already exists
			  </div>
			  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
				  <div *ngIf="f.username.errors.required">NAME is required</div>

			  </div> </label>
		  </div>
		  <div class="form-group">
			  <label>
			  <input type="text" formControlName="emailid" class="form-control" (input)="Exist()" placeholder="Email Id" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
			  <div *ngIf="load1==true" class="p">
				EMAIL is invaild or Already exists
			</div>
				  <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
					  <div *ngIf="f.emailid.errors.required">Email is required</div>
					  <div *ngIf="f.emailid.errors.email">Email must be a valid email address</div>
				  </div></label>
		  </div>
		  <div class="form-group">
			  <label>
			  <input type="password" formControlName="pwd" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" />
			  <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
				  <div *ngIf="f.pwd.errors.required">Password is required</div>
				  <div *ngIf="f.pwd.errors.pattern">Minimum Length should be 6</div>
			  </div>
			</label>
		  </div>
		  <div class="form-group">
			  <label>
			  <input type="text" formControlName="mobile" placeholder="Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
			  <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
				  <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>	  
				  <div *ngIf="f.mobile.errors.pattern">Mobile Number with 10 digits</div>
			  </div>
			</label>
	</div>

	  <div class="text-center">
		<button class="btn btn-primary mr-1" >Register</button>
		<button class="btn btn-primary mr-1" type="reset" (click)="onReset()">Reset</button>
	  </div>
	  <br>	
	  <div class="d-flex justify-content-center links">
		  Have an account?<a [routerLink]="['/Home/Login']" >Login</a>
	  </div>
	  </form>
	</div>

