    <div class="b1 ">
    <div class="table">
<div class="table-responsive">
            <tr >
                <th>Category Id</th>
                <th>Category Name</th>
				<th>Category Description</th>
				<th></th>
				<th></th>
            </tr>
            <tr *ngFor="let item of list">
              <td>{{item.catId}}</td>
              <td>{{item.catName}}</td>
              <td>{{item.catDesc}}</td>
              <td><button class="btn btn-primary mr-1">Edit</button></td>
              <td><button class="btn btn-danger mr-1 ">Delete</button></td>
            </tr>
        </div>
    </div>
</div>
