	<div  class="jumbotron jumbotron-fluid b1" >
		<h1>Category</h1><br>
	  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
		  <div class="form-group ">
			  <label> 
			  <input type="text" formControlName="cName" (input)="search()" placeholder="Category Name"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cName.errors }" /> 
			  <div *ngIf="load==true">
				<p>Already exists</p>
			</div>
			  <div *ngIf="submitted && f.cName.errors" class="invalid-feedback">
				  <div *ngIf="f.cName.errors.required">Category Name is required</div>
			  </div> </label>
		  </div>
          <div class="form-group">
            <textarea placeholder="Category Desc" formControlName="cDesc"></textarea>
		</div>
	  <div class="text-center">
		<button class="btn btn-primary mr-1" >Add</button>
	  </div>
	  </form>
	</div>



